
body{
    max-width: 700px;
}
.is_main{
    display:none;
}
.is_not_main{
    display:none;
}

.modele_module{
    height: 480px;
    width: 360px;
    display: flex;
    border-radius: 25px;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
}
.selectors ul{
}
#show{
    border:solid black 1px;
    display: flex;
    min-height: 350px;
    width: 63%;
    flex-direction: column;
}
.show ul li{
    display:flex;
}