*{margin:0; padding:0; user-select: none;}
body{
}
header{
    background-color: #3d3d5c;
    color:  #e0e0eb;
    height:20vh;
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr)
}
.logo{
    grid-column: 2;
    height:100%;
    margin: auto;
}
footer{
    background-color: #3d3d5c;
    color:  #e0e0eb;
    height:20vh;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
main{
    display:grid;
    height:60vh;
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
    background: linear-gradient(to bottom, #3366cc 0%, #0099cc 100%);
}
h3{
    margin-right: 10px;
}
.pseudo_logo{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 11px;
}
.is_main{
    display:none;
}
.is_not_main{
    display:none;
}
.transfertImg{
    width:30%;
}
.modele_module{
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: 25px;
    border: solid #e0e0eb 2px;
    align-items: center;
    justify-content: center;
    grid-column: 2;
    background-color: #1b1818;
}
.selectors{
    grid-column: 1;
    display: inline-flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: flex-end;
}
.selectors ul{
    display: flex;
    flex-direction: column;
}
.selectors ul li{
    display:flex;
}
.selectors ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#show{
    border:solid black 1px;
    display: flex;
    min-height: 80%;
    width: 68%;
    flex-direction: column;
    background: linear-gradient(to top, #3333cc 13%, #66ccff 100%);
}
.show ul li{
    display:flex;
}
.description{
    grid-column: 3;
    display: flex;
    flex-direction: column;
    padding-left: 11px;
}